.todo-item-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}
  
  
  .button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
  }
  
  .label-container {
    background-color: #e6f6ff;
    border-left: 5px solid #4c63b6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    position: relative;
  }

  @media screen and (max-width:578px) {
    .label-container{
      width: 100%;
    }
  }
  
  .checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-right: 12px;
    cursor: pointer;
  }
  
  .checkbox-label {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 5px;
  }
  
  .delete-icon-container {
    text-align: right;
    width: 18%;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 25px;
  }
  
  .delete-icon {
    padding: 15px;
  }
  
  .checked {
    text-decoration: line-through;
  }
  .timer-card {
    width: 100%;
  }
  .timer{
    margin-left: 20px;
    font-size: 30px;
    margin-top: 30px;
  }
.delete-icon-container{
  margin-left: auto;
}
.btn{
  margin-left: 1rem;
  margin-right: 1rem;
}